/* ==========================================================================
   1. Global Styles & Typography
   ========================================================================== */

.hubot-sans {
  font-family: "Hubot Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

.fira-code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

p {
  color: white;
  font-family: Fira Code;
  font-size: 20px;
  
}

a {
  color: white;
  font-family: Fira Code;
  font-size: 20px;
  text-decoration: none;
}

.body {
  background-color: black;
}


.introduction-header {
  font-size: 50px;
}

/* ==========================================================================
   2. Top Naviagation Bar
   ========================================================================== */
  
.top-bar {
  display: flex;
  padding-top: 10px;
}

.name-title {
  margin-top: 0;
}

.home-link:hover,
.resume-link:hover,
.linkedin-link:hover {
  cursor: pointer;
  text-decoration: underline;
}



.resume-link {
  margin-left: 800px;
  margin-right: 15px;
  margin-top: 0px;
}

.linkedin-link {
  margin-left: 10px;
  margin-top: 0px;
  
}

/* ==========================================================================
   3. Introduction and Description
   ========================================================================== */

.introduction-and-description {
  display: inline-block;
  margin-top: 50px;
  height: 300px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0;
  padding-left: 80px;
  padding-right: 100px;
}

.introduction {
  font-size: 50px;
  font-family: "Hubot Sans";
}

.main-content {
  display: flex;
  margin-bottom: 300px;
}

/* ==========================================================================
   4. Decorations
   ========================================================================== */
.left-side-bar {
  display: inline-block;
  flex: 1 0 0;
  flex-flow: column;
  align-items: center;
  width: min-content;
  align-content: center;
  justify-content: space-between;
  height: 1px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0px;
  position: relative;
  margin-top: 100px;
  width: 50%;
}

.github-profile-link {
  white-space: nowrap;
  writing-mode: vertical-lr;
  color: white;
  font-family: "Fira Code";
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
}

.github-profile-link:hover {
  text-decoration: underline;
}



/* ==========================================================================
   6. Project Section Structure
   ========================================================================== */

.project-header {
  font-size: 50px;
  font-family: "Hubot Sans";
}

.project-boxes-container {

  display: block;
  height: 610px;
  width: 1200px;
  margin-left: 100px;
  margin-right: 100px;
}

.tic-tac-toe-project,
.pi-dashboard-project,
.unit-converter-project,
.finance-tracker-project, 
.spotify-api-project{
  border-color: rgb(71, 55, 55);
  border-style: solid;
  display: inline-block;
  height: 300px;
  width: 560px;
  contain: strict; /* Makes it so the container doesn't move*/
  border-radius: 15px;
  margin: 10px;
  transition: transform 0.3s ease; 
}


.tic-tac-toe-project:hover,
.pi-dashboard-project:hover,
.unit-converter-project:hover,
.finance-tracker-project:hover,
.spotify-api-project:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* ==========================================================================
7. Tic Tac Toe Project
========================================================================== */


.tic-tac-toe-header,
.pi-dashboard-header,
.unit-converter-header,
.finance-tracker-header,
.spotify-api-header{
  font-family: "Hubot Sans";
  display: inline-block;
  font-size: 40px;
  margin-top: 25px;
  margin-left: 30px;
  position: absolute;
}

.tic-tac-toe-description,
.pi-dashboard-description,
.unit-converter-description,
.spotify-api-description {
  margin: 10px;
  text-align: center;
}

.dashboard-icon {
  width: 85px;
  padding: 5px;
}

.math-symbols-icon {
  width: 115px;
  padding: 0px;
}

.pie-chart-icon {
  width: 90px;
  padding: 5px;
}

.tic-tac-toe-icon {
  width: 100px;
  display: inline-block;
  padding: 5px;
}

.radio-waves-icon {
  display: inline-block; 
  width: 80px;
  padding: 10px
}


.finance-tracker-description {
  padding-top: 30px;
  margin: 10px;
  text-align: center;
}