/* ==========================================================================
   1. Global Styles & Typography
   ========================================================================== */

.hubot-sans {
  font-family: "Hubot Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.fira-code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

p {
  color: white;
  font-family: Fira Code;
  font-size: 20px;
  
}

.body {
  background-color: black;
}


.introduction-header {
  font-size: 50px;
}

/* ==========================================================================
   2. Top Naviagation Bar
   ========================================================================== */
  
.top-bar {
  display: flex;
  border-bottom-style: solid;
  padding-top: 10px;
}

.name-title {
  margin-top: 0;
}

.home-link:hover,
.projects-link:hover,
.about-link:hover,
.resume-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.home-link {
  padding-left: 800px;
  margin-top: 0px;
}


.projects-link {
  padding-left: 25px;
  margin-top: 0px;
}


.about-link {
  padding-left: 25px;
  margin-top: 0px;
}


.resume-link {
  padding-left: 25px;
  padding-right: 15px;
  margin-top: 0px;
}

/* ==========================================================================
   3. Introduction and Description
   ========================================================================== */

.introduction-and-description {
  display: inline-block;
  margin-top: 50px;
  height: 300px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 100px;
  padding-right: 100px;

}

.introduction {
  font-size: 50px;
  font-family: "Hubot Sans";
}


/* ==========================================================================
   4. Decorations
   ========================================================================== */
.left-side-bar {
  display: inline-block;
  flex: 1 0 0;
  flex-flow: column;
  align-items: center;
  width: min-content;
  align-content: center;
  justify-content: space-between;
  height: 1px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0px;
  position: relative;
  margin-top: 100px;
  
}

.system-text {
  white-space: nowrap;
  writing-mode: vertical-lr;
}

.quote-container {
  display: inline-block;
  margin-left: 690px;
  margin-bottom: 50px;
  width: 800px;
}


/* ==========================================================================
   5. Symbols 
   ========================================================================== */
  
.triangle-symbol-container {
  display: inline-block;
}

.triangle-symbol {
  font-size: 40px;
  margin-left: 20px;
}

.chinese-chars-container {
  display: inline-block;
  margin-left: 1300px;
  margin-bottom: 50px;
}

.chinese-chars {
  writing-mode: vertical-lr;
  font-size: 50px;
}

/* ==========================================================================
   6. Project Section Structure
   ========================================================================== */

.project-header {
  font-size: 50px;
  font-family: "Hubot Sans";
}

.project-boxes-container {
  border-color: blue;
  border-style: solid;
  display: block;
  height: 610px;
  width: 1155px;
  margin-left: 150px;
  margin-right: 300px;
}

.tic-tac-toe-project {
  border-color: red;
  border-style: solid;
  display: inline-block;
  height: 300px;
  width: 560px;
  contain: strict; /* Makes it so the container doesn't move*/
}

.c-io-project {
  border-color: green;
  border-style: solid;
  display: inline-block;
  width: 560px;
  height: 300px;
  contain: strict;
}

.unit-converter-project {
  border-color: orange;
  border-style: solid;
  display: inline-block;
  width: 560px;
  height: 300px;
  contain: strict;
}

.finance-tracker-project {
  border-color: purple;
  border-style: solid;
  display: inline-block;
  width: 560px;
  height: 300px;
  contain: strict;
}

/* ==========================================================================
   7. Project Section Internals
   ========================================================================== */

.tic-tac-toe-icon {
  width: 100px;
}

.text-file-icon {
  width: 100px;
}

.math-symbols-icon {
  width: 100px;
}

.pie-chart-symbol {
  width: 100px;
}